.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.blog-image-list {
    object-fit: cover;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: relative; 
}

.top-menu {
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.top-menu:hover {
    color: #ffe6b3;
}

